

<div class="jumbotron searchArea " style="margin-bottom: 10px; ">
  <h1>Welcome to Haiti!</h1>
  <p><input class="searchBar" type="search" placeholder="Search Us..."/><button style="margin-left: 2%; background-color: #285e8e "> Submit</button></p>

  <p><a class="btn btn-primary btn-lg" href="#" role="button">View More Detailed Options</a></p>

</div>

<div class="row" style="height: 220px; margin-bottom: -50px;">
  <div class="col-xs-6 col-md-3 thumbnailDisplay">
    <div class="thumbnail">
      <img src="/assets/slide4.jpg" alt="art and culture">
      <div class="caption">
        <!--<h3>Thumbnail label</h3>-->
        <p class="groupCategories"><%= link_to "Arts and Culture", culture_path %></p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
    </div>
  </div>


  <div class="col-xs-6 col-md-3 thumbnailDisplay">
    <div class="thumbnail">
      <img src="/assets/slide4.jpg" alt="art and culture">
      <div class="caption">
        <!--<h3>Thumbnail label</h3>-->
        <p class="groupCategories">Historical Places</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-md-3 thumbnailDisplay">
    <div class="thumbnail">
      <img src="/assets/slide4.jpg" alt="art and culture">
      <div class="caption">
        <!--<h3>Thumbnail label</h3>-->
        <p class="groupCategories">Shopping</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-md-3 thumbnailDisplay">
    <div class="thumbnail">
      <img src="/assets/slide4.jpg" alt="art and culture">
      <div class="caption">
        <!--<h3>Thumbnail label</h3>-->
        <p class="groupCategories">Attractions</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
    </div>
  </div>
</div>


