// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert {
  position: relative;
  z-index: 1; // the order-index is always on top of everything
  /* width: 200px;*/
}

.searchBar{
  width: 30%;
}

.jumbotron{
  //background-image: url("/assets/img14.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 20%;

}

.groupCategories{
  color: cadetblue;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 120%;
  text-align: center;
}

.thumbnailDisplay{
  widows: 30%;
}

#footer{

  //height: 90%;
  margin-top: 7%;
  background-color: black;
  width: auto;

  p{
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
  }
}

/*.landing_title{
  padding-top: -230px;
  //position: relative;

}
*/
/*.landing{
  background: url("18-abstract.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  margin-top: -50px;
  margin-bottom: -20.9%;
}
*/
.header{
  padding-bottom: -60px;
  margin-bottom: -60px;
}


.mainContent{
  margin-top: 5%;
  margin-bottom: 50%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
  width: 50%;
  margin: auto;
  height: 300px;
}

/* styling of cultural and display events section*/
.cultureArt
{
  margin-top: 1%;
}
.searchFormEvents{
  padding-top: 2%;
  padding-bottom: 2%;
}





