<div class="row" style="height: 30%;width:auto;">
<footer id="siteFooter">

  <div class="footerLinks">

    <div class="footerContainer">
      <div class="footerRow">

        <div class="footer-other-sites">
          <h5 style="color: white; font-size: medium; padding-top: 3%;">More Sites</h5>
          <ul>
            <li><a title="Group Travel" href="/" target="_blank">Group Travel </a></li><!--form to provide info to user based on user's request info search -->
            <li><a title="Kids &amp; Family" href="/" target="_blank">Kids &amp; Family </a></li>
            <li><a title="Industry Partners" href="/" target="_blank">Industry Partners </a></li>
            <li><a href="/" target="_blank">Fishing</a></li>
            <li><a href="/" target="_blank">Renting Cars/Motorcycles</a></li>
          </ul>
        </div>

        <div class="footer-resources">
          <h5 style="color: white; font-size: medium; padding-top: 3%;">Resources</h5>
          <ul>
            <li><a title="Employment" href="/">Employment </a></li>
            <li><a title="Government Site" href="/" target="_blank">Government's Site</a></li>
            <li><a href="/" title="Haiti News " target="_blank">Haiti  News</a></li>
            <li><a title="Economic Reports" href="/" target="_blank">Economic Reports </a></li><!-- a pdf report the user can download -->
          </ul>
        </div>


        <div class="footer-help ">
          <h5 style="color: white; font-size: medium; padding-top: 3%; margin-left: inherit;">Help</h5>
          <ul>
            <li><a title="Welcome Centers" href="/">Welcome Centers </a></li>
            <li><a title="Support" href="/">Support </a></li>
            <li><a title="Contact Us" href="/">Contact Us </a></li>
            <li><a title="Site Map" href="/">Site Map </a></li>
          </ul>
        </div>



      </div>
    </div>
  </div>

</footer>
</div>